.script-element {
	padding: 0.5em 0 0.5em 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #262630;
	/*opacity*/
	transition: 0.2s;
}