@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.file-menu-bar {
	grid-column: 1 / 26;
	grid-row: 1 / 3;
	display: flex;
	flex-flow: column nowrap;
	/*justify-content: flex-start;
	align-items: center;*/
	background-color: #060714;
	text-transform: uppercase;
	/*font-family: 'Jost', sans-serif;*/
}

.top-file-menu-bar {
	width: 100%;
	height: 50%;
	font-size: 0.7em;
	border-bottom: 1px solid white;
}

.menu-container {
	/*margin: 0 1em 0 1em;*/
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.file-menu {
	width: 20%;
	height: 100%;
	/*padding: 0 1em 0 1em;*/
}

.file-menu:hover {
	background-color: #444444;
}

.options-menu {
	width: 30%;
	height: 100%;
	/*padding: 0 0 0 1em;*/
}

.workspace-menu {
	width: 40%;
	height: 100%;
	/*padding: 0 0 0 1em;*/
}

.window-menu {
	width: 30%;
	height: 100%;
	/*padding: 0 0 0 1em;*/
}

.bottom-file-menu-bar {
	width: 100%;
	height: 50%;
	border-bottom: 1px solid white;
}

.icons {
	width: 10%;
	height: 100%;
	margin-left: 1em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}