.object-browser {
	grid-column: 1 / 6;
	grid-row: 3 / 25;
	display: flex;
	flex-flow: column nowrap;
	background-color: #060714;
	/*transition: 1s;*/
}

.object-browser-header-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #262630;
}

.object-browser-header {
	font-size: 1.2em;
	user-select: none;
	/*text-transform: italic;*/
}

.object-browser-icon {
	transition: .2s;
}

.object-browser-icon:hover {
	color: white;
	cursor: pointer;
	transition: .2s;
}

.object-tab-container {
	/*height: 5%;*/
	padding: 1em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	/*background-color: gold;*/
	/*border-bottom: 1px solid white;*/
	border-bottom: 1px solid #262630;
	/*transition: 1s;*/
}

.object-tab {
	/*height: 100%;*/
	display: flex;
	/*justify-content: flex-start;*/
	justify-content: space-between;
	align-items: center;
	/*border-bottom: 1px solid #999999;*/
	cursor: pointer;
	/*transition: 1s;*/
}

.object-tab-text {
	margin-left: 5%;
	user-select: none;
	transition: .2s ease-out;
}

.object-tab-chevron {
	transition: .2s ease-out;
}

.rotatedChevron {
	/*transform: rotate(180deg);*/
	transform: rotate(-180deg);
	transition: .2s ease-out;
}

.object-tab-children-container {
	/*display: flex;*/
	/*height: 10%;*/
	/*transition: 1s;*/
}

.object-tab-children-list {
	/*fix*/
	margin-left: 2em;
	/*transition: 1s;*/
}

.object-tab-child {
	/*transition: 1s;*/
}

.collapsed {
	/*display: none;*/
	height: 0;
	opacity: 0;
	/*transition: 1s;*/
}