@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #1D1D1D;
	font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

.app-container {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: repeat(24, 1fr);
	background-color: #222222;
	color: #999999;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hover-transition {
	transition: 0.2s;
}

.hover-transition:hover {
	background-color: #444444;
	transition: 0.2s ease-out;
	cursor: pointer;
}

.user-select {
	user-select: none;
}
